* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero {
    width: 100% ;
    height: 550px ;
    background: url(./assets/hero.jpg);
    background-repeat: no-repeat;
    background-position-y: 100% ;
}
